body {
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	margin: 0;
}

h1,
h2,
ul {
	margin: 0;
	list-style-type: none;
}

nav,
div,
ul,
footer {
	display: flex;
	justify-content: center;
	gap: 1rem;
}

.section,
nav {
	padding: 1rem 8rem;
}

.section,
.textContainer {
	flex-direction: column;
}

.sectionHeadline {
	color: #1f2937;
	font-size: 2.25rem;
	text-align: center;
}

nav,
.hero {
	background-color: #1f2937;
}

.projects,
.action {
	background-color: #ffffff;
}

.quote {
	background-color: #e5e7eb;
}

.logo,
.headline {
	color: #f9faf8;
	font-size: 1.5rem;
}

.headline {
	font-size: 3rem;
}

.subText,
.navLinks a,
.actionContainer,
button {
	color: #e5e7eb;
	text-decoration: none;
}

.logo {
	margin-right: auto;
}

button,
.actionContainer {
	background-color: #3882f6;
}

button {
	padding: 0.25rem 1.5rem;
	border-radius: 0.5rem;
	border: none;
}

.actionContainer button {
	border: solid 0.125rem;
	margin: auto;
}
