body {
	font-family: Roboto, sans-serif;
	font-size: 16px;
	margin: 0;
}

h1,
h2,
ul,
p {
	margin: 0;
	list-style-type: none;
}

nav,
div,
ul,
footer {
	display: flex;
	justify-content: center;
	gap: 2rem;
}

.section,
nav {
	padding: 2.5% 15%;
}

.section,
.textContainer {
	flex-direction: column;
}

.textContainer {
	width: 50%;
	gap: 1rem;
}

.sectionHeadline {
	color: #1f2937;
	font-size: 2.25rem;
	text-align: center;
}

nav,
.hero,
footer {
	background-color: #1f2937;
}

.projects,
.action {
	background-color: #ffffff;
}

.quote {
	background-color: #e5e7eb;
}

.logo,
.headline {
	color: #f9faf8;
	font-size: 1.5rem;
	font-weight: 900;
}

.headline {
	font-size: 3rem;
	line-height: 95%;
}

.subText,
.navLinks a {
	color: #cbcbcb;
	text-decoration: none;
	font-size: 1.125rem;
}

.logo {
	margin-right: auto;
}

button,
.actionContainer {
	background-color: #3882f6;
	color: #f9faf8;
}

button {
	padding: 0.5rem 2rem;
	border-radius: 0.5rem;
	border: none;
	margin-right: auto;
	margin-top: 1rem;
	font-weight: 600;
}

.actionContainer button {
	border: solid 0.125rem;
	margin: auto;
}

.hero {
	flex-direction: row;
	padding-bottom: 0;
	justify-content: space-between;
}

.heroImage {
	height: 400px;
	width: 400px;
	object-fit: contain;
	object-position: center;
}

.projectItem {
	color: #484c52;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.projectItem img {
	aspect-ratio: 1/1;
	width: 100px;
	object-fit: cover;
	object-position: top;
}
